apiVersion: apps/v1
kind: Deployment
metadata:
  name: gfgdeployment
  labels:
    app: gfgapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gfgapp
  template:
    metadata:
      labels:
        app: gfgapp
    spec:
      containers:
        - name: gfgapp
          image: nginx:stable
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: "250m"
              memory: "256Mi"
            requests:
              cpu: "100m"
              memory: "128Mi"
